<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布 - 小柏林社区</title>
    <link rel="icon" href="img/ico.ico" sizes="32x32">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/publish.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/wangEditor-fullscreen-plugin.css">
    <script src="./js/wangEditor.js"></script>
    <script src="./js/wangEditor.min.js"></script>
    <script src="./js/wangEditor-fullscreen-plugin.js"></script>
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="https://at.alicdn.com/t/font_1958467_kkned4ve3v.js"></script>
    <script src="https://at.alicdn.com/t/font_1958467_6fmqea0lcuw.js"></script>
    <script src="https://at.alicdn.com/t/font_1958467_bd77vtkouki.js"></script>
    <script src="https://at.alicdn.com/t/font_1958467_q7afncrstr.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <style type="text/css">
        .icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
    <style>
        @font-face {
            font-family:fz;
            src: url("./fonts/FZZJ-YDSXSJW.TTF");
        }
    </style>
    <style>
        @font-face {
            font-family:fz1;
            src: url("./fonts/FZSJ-ZUIJYLBYY.TTF");
        }
    </style>
    <style>
        @font-face {
            font-family:fz2;
            src: url("./fonts/FZSJ-GUIQLX.TTF");
        }
    </style>
    <style>
        @font-face {
            font-family:fz3;
            src: url("./fonts/FZFWZhuZiAOldMinchoL.TTF");
        }
    </style>
</head>
<body th:if="${publish}=='shangchuan'">
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row mian">
        <div class="col-lg-9 col-md-12 col-xs-12">
            <h3 style="margin-top: 25px;font-family: fz1">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-xiewenzhang"></use>
                </svg>
                写文章
            </h3>
            <hr/>

            <form action="/publish/shangchuan" method="post">
                <div class="form-group">
                    <label class="bs-example-navbar-collapse-1" style="font-family: fz3">问题标题(简单扼要) :</label>
                    <input type="text" class="form-control" style="font-family: fz1" th:value="${title}" name="title" id="title_a" placeholder="问题标题....">
                </div>
                <div class="form-group">
                    <label class="bs-example-navbar-collapse-1" style="font-family: fz3">问题补充(必填，请参照右侧提示) :</label>
                    <div name="description" id="editor"></div>
                    <textarea style="display: none" name="description" id="txtIntro"></textarea>
                    <textarea style="display: none" name="id" th:value=0></textarea>
                </div>
                <div class="form-group">
                    <label for="title_a" style="font-family: fz3">添加标签 :</label>
                    <input type="text"  style="font-family: fz1" class="form-control" id="tag" th:value="${tag}" name="tag" placeholder="输入标签,以逗号分隔！">
                </div>
                <div class="container-fluid main">
                    <div class="row">
                    <div class="alert alert-danger col-lg-9 col-md-12 col-xs-12" th:text="${error}"
                        th:if="${error!=null}"></div>
                        <div class="col-lg-3 col-md-12 col-xs-12"></div>
                    <button type="submit" class="btn btn-success fabu ">
                        发布
                    </button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-3 col-md-12 col-xs-12" style="font-family: fz3">
            <h3 style="font-family: fz1">问题发起指南</h3>
            <br/>
            <p class="mod-body-p" >
                • 问题标题: 请用<b style="color: red">精简</b>的语言描述您发布的问题，不超过25字<br/>

            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：<br/>
            </p>
            服务器运行环境信息；<br/>
            软件版本；<br/>
            问题发生的上下文信息；<br/>
            可以完整复现问题的代码（如可直接运行于 Kibana Console 的复现流程）；<br/>
            补充完整的异常和错误信息；<br/>
            注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；<br/>
            <p class="mod-body-p">
            • 选择标签: 选择一个或者多个合适的标签，不超过10个字
            </br>
            • 关于积分： 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能.
            </p>
            <b/>
            <div class="col-lg-2 col-md-12 col-xs-12">
                <svg class="icon" aria-hidden="true" font-size="43px" >
                    <use xlink:href="#icon-jinggao"></use>
                </svg>
            </div>
                <div  class="col-lg-10 col-md-12 col-xs-12" style="font-size: 15px;color: red;font-family: fz3">
                    未登录发布文章会被强制返回到主页面进行登录！！！！
                </div>
            </div>
        </div>
    </div>
</body>
<body th:if="${publish}=='bianji'">
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row mian">
        <div class="col-lg-9 col-md-12 col-xs-12">
            <h3 style="margin-top: 25px;font-family: fz1">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-xiewenzhang"></use>
                </svg>
                修改文章
            </h3>
            <hr/>

            <form action="/publish/xiugai" method="post">
                <div class="form-group">
                    <label class="bs-example-navbar-collapse-1" style="font-family: fz3">问题标题(简单扼要) :</label>
                    <input type="text" class="form-control" style="font-family: fz1" th:value="${bianji.getTitle()}" name="title" id="title_a" placeholder="问题标题....">
                </div>
                <div class="form-group">
                    <label class="bs-example-navbar-collapse-1" style="font-family: fz3">问题补充(必填，请参照右侧提示) :</label>
                    <div name="description" id="editor1" ><p th:utext="${bianji.getDescription()}"></p></div>
                    <textarea name="id" style="display: none" th:text="${bianji.getId()}"></textarea>
                    <textarea style="display: none" name="description" id="txtIntro1"></textarea>
                </div>
                <div class="form-group">
                    <label for="title_a" style="font-family: fz3">添加标签 :</label>
                    <input type="text"  style="font-family: fz1" class="form-control" id="tag" th:value="${bianji.getTag()}" name="tag" placeholder="输入标签,以逗号分隔！">
                </div>
                <div class="container-fluid main">
                    <div class="row">
                        <div class="alert alert-danger col-lg-9 col-md-12 col-xs-12" th:text="${error}"
                             th:if="${error!=null}"></div>
                        <div class="col-lg-3 col-md-12 col-xs-12"></div>
                        <button type="submit" class="btn btn-success fabu ">
                            发布
                        </button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-3 col-md-12 col-xs-12" style="font-family: fz3">
            <h3 style="font-family: fz1">问题发起指南</h3>
            <br/>
            <p class="mod-body-p" >
                • 问题标题: 请用<b style="color: red">精简</b>的语言描述您发布的问题，不超过25字<br/>

                • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：<br/>
            </p>
            服务器运行环境信息；<br/>
            软件版本；<br/>
            问题发生的上下文信息；<br/>
            可以完整复现问题的代码（如可直接运行于 Kibana Console 的复现流程）；<br/>
            补充完整的异常和错误信息；<br/>
            注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；<br/>
            <p class="mod-body-p">
                • 选择标签: 选择一个或者多个合适的标签，不超过10个字
                </br>
                • 关于积分： 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能.
            </p>
            <b/>
            <div class="col-lg-2 col-md-12 col-xs-12">
                <svg class="icon" aria-hidden="true" font-size="43px" >
                    <use xlink:href="#icon-jinggao"></use>
                </svg>
            </div>
            <div  class="col-lg-10 col-md-12 col-xs-12" style="font-size: 15px;color: red;font-family: fz3">
                未登录发布文章会被强制返回到主页面进行登录！！！！
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    //  获取隐藏控件<textarea>的id，用于显示内容，也方便后台获取内容
    var $text2 = $('#txtIntro');
    // 监控wangEditor中的内容变化，并将html内容同步更新到 textarea
    editor.customConfig.onchange = function (html) {
        $text2.val(html);
    };
    //开启debug模式
    editor.customConfig.debug=true;
    //内容

    //图片上传
    editor.customConfig.uploadImgShowBase64 = true;
    editor.create();
    E.fullscreen.init(editor);
    E.viewSource.init(editor);
</script>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor1');
    //  获取隐藏控件<textarea>的id，用于显示内容，也方便后台获取内容
    var $text1 = $('#txtIntro1');
    // 监控wangEditor中的内容变化，并将html内容同步更新到 textarea
    editor.customConfig.onchange = function (html) {
        $text1.val(html);
    };
    //开启debug模式
    editor.customConfig.debug=true;
    //内容

    //图片上传
    editor.customConfig.uploadImgShowBase64 = true;
    editor.create();
    E.fullscreen.init(editor);
    E.viewSource.init(editor);
</script>
</html>