<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${wenZhangYe.getTitle()+'-小柏林社区'}"></title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/indexcommit.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/wenzhang.css">
    <link rel="stylesheet" type="text/css" href="css/wangEditor-fullscreen-plugin.css">
    <script src="./js/wangEditor.js"></script>
    <script src="./js/wangEditor.min.js"></script>
    <script src="./js/wangEditor-fullscreen-plugin.js"></script>
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://at.alicdn.com/t/font_1958467_4nnn3m4be1e.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <style type="text/css">
        .icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
    <style>
        @font-face {
            font-family:fz;
            src: url("./fonts/FZZJ-YDSXSJW.TTF");
        }
    </style>
    <style>
        @font-face {
            font-family:fz1;
            src: url("./fonts/FZSJ-ZUIJYLBYY.TTF");
        }
    </style>
    <style>
        @font-face {
            font-family:fz2;
            src: url("./fonts/FZSJ-GUIQLX.TTF");
        }
    </style>
    <style>
        @font-face {
            font-family:fz3;
            src: url("./fonts/FZFWZhuZiAOldMinchoL.TTF");
        }
    </style>
    <link rel="stylesheet" href="../static/css/wenzhang.css">
</head>
<body>
<div id="quanqing"></div>
<div th:insert="navigation::nav"></div>
<div class="container-fluid">
    <div class="row mian">
        <div class="col-lg-9 col-md-12 col-xs-12" style="border-right:1px dashed #0f0f0f">
            <div class="modal-header" style="margin-bottom: 0px">
                <h2><span style="font-family:'fz'" th:text="${wenZhangYe.getTitle()}"></span></h2>
                <em class="font-color-999">
                    <a class="aw-question-tags" href="#" style="text-decoration: none" th:text="${wenZhangYe.getTag()}"></a>
                    |作者:
                    <a href="#" style="text-decoration: none" th:text="${user.getName()}"></a>
                    |发布时间:
                    <span th:text="${#dates.format(wenZhangYe.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>
                    |回复数:
                    <span th:text="${wenZhangYe.getCommentCount()}"></span>
                    |浏览数:
                    <span th:text="${wenZhangYe.getViewCount()}"></span>
                    |点赞数:
                    <span th:text="${wenZhangYe.getLikeCount()}"></span>
                </em>
            </div>
            <div class="wenzhang-bady">
                <div class="wenti-body" id="wenzhangneirong" style="font-family: fz3;" th:utext="${wenzhang}">

                </div>
                <hr class="wentiye-hr"/>
                <div>
                    <span style="float: right;margin-left: 10px">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-jubao"></use>
                            </svg>
                                <a href="#">
                                    举报
                                </a>
                    </span>
                    <span th:if="${upBianJi=='yes'}" style="float: right">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-bianji"></use>
                            </svg>
                                <a th:href="@{'/bianji?id='+${wenZhangYe.getId()}}">
                                编辑
                                </a>
                    </span>

                </div>
                <div class="aw-question-tags">
                    [尊重社区原创，转载请保留或注明出处]
                    <br/>
                </div>
                <hr class="wentiye-hr"/>
                <h3 style="font-family: fz;margin-top: 10px"><span th:text="${wenZhangYe.getCommentCount()}" ></span>个回复</h3>
                <input type="hidden" th:value="${wenZhangYe.getCommentCount()}" id="angtang">
                <hr class="wentiye-hr"/>

                <div class="media btn-publish-zhanshi-body" th:each="huifuone : ${huifuone}">
                    <div class="media-left">
                        <div style="float: right;font-family:fz1;color: #999"><span th:text="${#dates.format(huifuone.getGmtModified(),'yyyy-MM-dd HH:mm')}"></span></div>
                        <dl>
                            <dt class="mod-left">
                                <img th:src="${huifuone.getUserTou()}" alt="头像" class="img-rounded mod-touxiang" style="margin-right: 10px">
                            </dt>
                            <dd class="mod-left">
                                <a href="#">
                                <span class="mod-name" th:text="${huifuone.getUserName()}"></span>
                                </a>
                            </dd>
                        </dl>
                        <div class="media-body" id="huifuone" style="font-family: fz3" th:utext="${huifuone.getHuiFuBody()}"></div>
                    </div>

                </div>


                <div th:if="${usertwo!=null}">
                    <div>
                        <dl>
                            <dt class="mod-left">
                                <img th:src="${usertwo.getFigureurlQq()}" alt="头像" class="img-rounded mod-touxiang">
                            </dt>
                        </dl>
                    </div>
                    <form method="get" action="/huifu">
                        <div id="editor"></div>
                        <textarea style="display: none" name="huifuone" id="txtIntro"></textarea>
                        <div>
                            <button type="submit" class="btn btn-success huifu">回复</button>
                        </div>
                    </form>
                </div>
                <div th:if="${usertwo==null}">
                    <div style="text-align: center">要回复问题请先<a href="https://graph.qq.com/oauth2.0/authorize?client_id=101881732&redirect_uri=http://127.0.0.1:8080/callback&response_type=code&state=1">登录</a></div>
                </div>
            </div>
        </div>
        <!--右边-->
        <div class="col-lg-3 col-md-12 col-xs-12">
            <div class="wentou-you-zuozhe">
                <h3 class="mod-head" style="font-family:'fz2'">发起人</h3>
            </div>
            <div class="modal-body">
                <dl>
                <dt class="mod-left">
                    <a href="#">
                    <img th:src="${user.getFigureurlQq()}" alt="头像" class="img-rounded mod-touxiang" style="margin-right: 20px">
                    </a>
                </dt>
                <dd class="mod-left">
                    <a href="#" class="mod-name" style="text-decoration: none" th:text="${user.getName()}"></a>
                </dd>
                </dl>
            </div>
            <hr/>
            <div class="wentou-you-zuozhe">
                <h3 class="mod-head" style="font-family:'fz'">热门活动</h3>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    var $text = $('#txtIntro');
    // 监控wangEditor中的内容变化，并将html内容同步更新到 textarea
    editor.customConfig.onchange = function (html) {
        $text.val(html);

    }
    editor.create();
    E.fullscreen.init(editor);
    E.viewSource.init(editor);
</script>
</html>