<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>详情页面</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/indexcommit.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/nav.css">
    <script src="./js/jquery-3.4.1.min.js"></script>
    <script src="https://at.alicdn.com/t/font_1958467_kkned4ve3v.js"></script>
    <script src="https://at.alicdn.com/t/font_1958467_6fmqea0lcuw.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <style type="text/css">
        .icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div th:insert="navigation::nav"></div>
<div class="container-fluid">
    <div class="row mian">
        <div class="col-lg-9 col-md-12 col-xs-12" style="border-right:1px dashed #0f0f0f">
            <div class="modal-header">
                <h1>Elastic日报 第1030期 (2020-08-15)</h1>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-xs-12">

        </div>
    </div>
</div>
</body>
</html>